<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="./styles/add.css">
</head>
<body>
    <header>
        <h1>Admin Panel</h1>
        <nav>
            <ul>
                <li><a href="<%= lang === 'en' ? '/login' : '/login?lang=ru' %>" class="a"><%= lang === 'ru' ? 'Выйти' : 'Logout' %></a></li>
                <form action="<%= lang === 'en' ? '/add?lang=en' : '/add?lang=ru' %>" class="form-inline ml-auto">
                    <div class="form-group">
                        <label for="langSelect" class="mr-2"style="color: white;"><%= lang === 'ru' ? 'Язык:' : 'Language:' %></label>
                        <select class="form-control" id="langSelect" name="lang" onchange="this.form.submit()">
                            <option value="en" <%= lang === 'en' ? 'selected' : '' %>>EN</option>
                            <option value="ru" <%= lang === 'ru' ? 'selected' : '' %>>RU</option>
                        </select>
                    </div>
                </form>
            </ul>
        </nav>
    </header>
    <div class="container">
        <aside>
            <ul>
                <li><button><a href="/add?lang=<%= lang %>" class="a"><%= lang === 'ru' ? 'Добавить пользователя' : 'Add user' %></a></button></li>
                <li><button><a href="/update?lang=<%= lang %>" class="a"><%= lang === 'ru' ? 'Обновить пользователя' : 'Update user' %></a></button></li>
                <li><button><a href="/delete?lang=<%= lang %>" class="a"><%= lang === 'ru' ? 'Удалить пользователя' : 'Delete user' %></a></button></li>
                <li><button><a href="/adminCarousel?lang=<%= lang %>" class="a"><%= lang === 'ru' ? 'Элементы' : 'Elements' %></a></button></li>
                <li><button><a href="/adminEdit?lang=<%= lang %>" class="a"><%= lang === 'ru' ? 'Изменить элементы' : 'Change elements' %></a></button></li>
            </ul>
        </aside>
        <main>
            <div id="userForm">
                <h2><%= lang === 'ru' ? 'Форма пользователя' : 'User Form' %></h2>
                <form action="/add?lang=<%= lang %>" method="post">
                    <label for="username"><%= lang === 'ru' ? 'Имя пользователя' : 'Username:' %></label>
                    <input type="text" id="username" name="username">
                    <label for="password"><%= lang === 'ru' ? 'Пароль' : 'Password:' %></label>
                    <input type="password" id="password" name="password">
                    <label for="isAdmin"><%= lang === 'ru' ? 'Является админом' : 'Is Admin:' %></label>
                    <input type="checkbox" id="isAdmin" name="isAdmin">
                    <button><%= lang === 'ru' ? 'Добавить пользователя' : 'Add user' %></button>
                </form>
            </div>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Yernar's Company</p>
    </footer>
</body>
</html>
