<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
<header class="header">
    <div class="company-name">Assignment 4</div>
    <nav class="nav-links">
        <ul>
            <li><a href="/index?lang=<%= lang %>"><%= lang === 'ru' ? 'Процессоры' : 'Processors' %></a></li>
            <li><a href="/currency?lang=<%= lang %>"><%= lang === 'ru' ? 'Генератор паролей' : 'Password generator' %></a></li>
            <li><a href="/login?lang=<%= lang %>"><%= lang === 'ru' ? 'Выйти' : 'Log out' %></a></li>
            <form action="<%= lang === 'en' ? '/currency?lang=en' : '/currency?lang=ru' %>" class="form-inline ml-auto">
                <div class="form-group">
                    <label for="langSelect" class="mr-2" style="color: white;"><%= lang === 'ru' ? 'Язык:' : 'Language:' %></label>
                    <select class="form-control" id="langSelect" name="lang" onchange="this.form.submit()">
                        <option value="en" <%= lang === 'en' ? 'selected' : '' %>>EN</option>
                        <option value="ru" <%= lang === 'ru' ? 'selected' : '' %>>RU</option>
                    </select>
                </div>
            </form>
        </ul>
    </nav>
</header>

<div class="container">
    <h1><%= lang === 'ru' ? 'Генератор паролей' : 'Password generator' %></h1>
    <form action="/currency?lang=<%= lang %>" method="post">
        <input type="text" name="q" placeholder="<%= lang === 'ru' ? 'Длина пароли' : 'Password length' %>">
        <button type="submit"><%= lang === 'ru' ? 'Сгенерировать' : 'Generate' %></button>
    </form>
    <% if (typeof random_password !== 'undefined') { %>
        <div class="recipe">
            <h2><%= lang === 'ru' ? 'Сгенерированный пароль:' : 'Generated Password:' %></h2>
            <ul>
                <li><%= random_password %></li>
            </ul>
        </div>
    <% } %>

</div>

<footer style="display: flex; justify-content: center; align-items: center; width: 100%; height: 70px; background-color: rgb(104, 104, 104);">
    Yernar Yeskindirov SE-2230
</footer>
</body>
</html>