<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="./styles/delete.css">
</head>
<body>
    <header>
        <h1>Admin Panel</h1>
        <nav>
            <ul>
                <li><a href="<%= lang === 'en' ? '/login' : '/login?lang=ru' %>" class="a"><%= lang === 'ru' ? 'Выйти' : 'Logout' %></a></li>
                <form action="<%= lang === 'en' ? '/delete?lang=en' : '/delete?lang=ru' %>" class="form-inline ml-auto">
                    <div class="form-group">
                        <label for="langSelect" class="mr-2"style="color: white;"><%= lang === 'ru' ? 'Язык:' : 'Language:' %></label>
                        <select class="form-control" id="langSelect" name="lang" onchange="this.form.submit()">
                            <option value="en" <%= lang === 'en' ? 'selected' : '' %>>EN</option>
                            <option value="ru" <%= lang === 'ru' ? 'selected' : '' %>>RU</option>
                        </select>
                    </div>
                </form>
            </ul>
        </nav>
    </header>
    <div class="container">
        <aside>
            <ul>
                <li><button><a href="/add?lang=<%= lang %>" class="a"><%= lang === 'ru' ? 'Добавить пользователя' : 'Add user' %></a></button></li>
                <li><button><a href="/update?lang=<%= lang %>" class="a"><%= lang === 'ru' ? 'Обновить пользователя' : 'Update user' %></a></button></li>
                <li><button><a href="/delete?lang=<%= lang %>" class="a"><%= lang === 'ru' ? 'Удалить пользователя' : 'Delete user' %></a></button></li>
                <li><button><a href="/adminCarousel?lang=<%= lang %>" class="a"><%= lang === 'ru' ? 'Посмотреть элементы' : 'See elements' %></a></button></li>
                <li><button><a href="/adminEdit?lang=<%= lang %>" class="a"><%= lang === 'ru' ? 'Изменить элементы' : 'Change elements' %></a></button></li>
            </ul>
        </aside>
        <main>
            <h2><%= lang === 'ru' ? 'Удалить пользователя' : 'Delete User' %></h2>
            <div id="usersContainer">
                <% users.forEach(user => { %>
                    <div class="userCard">
                        <p><%= lang === 'ru' ? 'Имя пользователя:' : 'Username:' %> <%= user.username %></p>
                        <p><%= lang === 'ru' ? 'Пароль:' : 'Password:' %> <%= user.password %></p>
                        <p><%= lang === 'ru' ? 'Дата создания:' : 'Creation Date:' %> <%= user.creationDate %></p>
                        <p><%= lang === 'ru' ? 'Дата обновления' : 'Update Date:' %> <%= user.updateDate %></p>
                        <p><%= lang === 'ru' ? 'Дата удаления' : 'Delete Date:' %> <%= user.deletionDate %></p>
                        <p><%= lang === 'ru' ? 'Является админом' : 'Is Admin:' %> <%= user.isAdmin %></p>
                        <form action="/delete?lang=<%= lang %>" method="post">
                            <input type="text" name="id" value="<%= user._id %>" style="display: none;">
                            <button type="submit"><%= lang === 'ru' ? 'Удалить' : 'Delete' %></button>
                        </form>
                    </div>
                <% }) %>
            </div>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Yernar's Company</p>
    </footer>
</body>
</html>
