<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./styles/login.css">
</head>
<body>
    <header class="header">
        <div class="company-name">Assignment 4</div>
        <nav class="nav-links">
            <ul>
                <form action="<%= lang === 'en' ? '/login?lang=en' : '/login?lang=ru' %>" class="form-inline ml-auto">
                    <div class="form-group">
                        <label for="langSelect" class="mr-2"style="color: white;"><%= lang === 'ru' ? 'Язык:' : 'Language:' %></label>
                        <select class="form-control" id="langSelect" name="lang" onchange="this.form.submit()">
                            <option value="en" <%= lang === 'en' ? 'selected' : '' %>>EN</option>
                            <option value="ru" <%= lang === 'ru' ? 'selected' : '' %>>RU</option>
                        </select>
                    </div>
                </form>
            </ul>
        </nav>
    </header>

    <div class="container">
        <form action="/login?lang=<%= lang %>" method="POST">
            <h2><%= lang === 'ru' ? 'Логин' : 'Login' %></h2>
            <div class="input-container">
                <input type="text" name="username" placeholder="<%= lang === 'ru' ? 'Логин' : 'Username' %>" required>
            </div>
            <div class="input-container">
                <input type="password" name="password" placeholder="<%= lang === 'ru' ? 'Пароль' : 'Password' %>" required>
            </div>
            <button type="submit"><%= lang === 'ru' ? 'Войти' : 'Login' %></button>
        </form>
        <a href="/SignUp?lang=<%= lang %>"><%= lang === 'ru' ? 'Регистрация' : 'Registration' %></a>
    </div>

    <footer style="display: flex; justify-content: center; align-items: center; width: 100%; height: 70px; background-color: rgb(104, 104, 104);">
        Yernar Yeskindirov SE-2230
    </footer>
</body>
</html>
